<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><%= link_to 'Scouts Online', root_path %></h1>
		</li>
	    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="right">
			<% if user_signed_in? %>
				<li><%= link_to 'Sair', destroy_user_session_path, method: 'delete' %></li>
			<% else %>
				<li><%= link_to 'Entrar', new_user_session_path %></li>
				<li><%= link_to 'Registar', new_user_registration_path %></li>
			<% end %>
		</ul>
	</section>
</nav>
